@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .skeleton {
      background-image: linear-gradient(
        105deg,
        transparent 0%,
        transparent 40%,
        var(--fallback-b1, oklch(var(--b1)/0.2)) 50%, /* Reduce brightness */
        transparent 60%,
        transparent 100%
      ) !important; /* Ensure it overrides DaisyUI */
      @apply invisible sm:visible w-full h-full absolute top-0 right-0 bottom-0 z-10 bg-gray-500 rounded-b-2xl rounded-t-none !important;
    }
    /* .animate-fadeindown {
        animation-delay: 1s !important;
    }

    .animate-slideinup {
        animation-delay: 1s !important;
    } */
    
}
* {
    @apply m-0 p-0;
}

:root {
    overscroll-behavior: none;
    scroll-behavior: smooth;
}
body {
    @apply w-full h-auto bg-base-200 flex items-center justify-center font-inter text-gray-900 relative min-h-svh ;
    /* color: #4800ff71; */

}

.bg-container {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    animation-fill-mode: forwards;
}

.signInForm {
    @apply w-[95%] min-w-[320px] max-w-[400px] h-auto  p-0 flex-col justify-center items-center gap-4 font-poppins bg-white px-4 py-10 shadow-xl rounded-lg;
    transform: translate3d(0, 100%, 0);
    visibility: hidden;
    animation-fill-mode: forwards;
}

.header-wrapper {
    @apply  flex flex-col gap-2 justify-start w-full h-auto;    
}

.sign-up-header {
    @apply text-4xl font-medium;
}

.instruction {
    @apply text-[14px]  font-medium text-gray-600 text-left;
}

.inputs-wrapper {
    @apply w-full flex flex-col gap-2;
}
.input-wrapper {
    @apply  w-full flex flex-col gap-1;
}

.input-wrapper > div >label {
    @apply text-sm font-semibold text-gray-500 font-inter;
}

.input-wrapper > div > input {
    @apply w-full bg-gray-200 rounded text-[14px];
}

.input-wrapper > div  > input:hover, .input-wrapper > div >input:focus {
    @apply outline-primary ease-in-out duration-100;
}

.input {
    @apply h-11 font-inter;
}

.register-btn {
    @apply  btn-md btn-primary w-full text-base-100 font-inter font-medium;
}

#back-btn {
    @apply btn-active btn-ghost bg-base-300 w-[49%] font-inter font-medium;
}


.agreement-checkbox-wrapper {
    @apply gap-2 w-full text-sm items-start justify-start;
}
.agreement-checkbox-wrapper > p > a {
    @apply text-secondary;
}

.logo-wrapper {
    @apply flex items-start justify-start w-full h-[15svh] min-h-[82px] max-h-[112px] text-4xl font-bold text-primary;
}

.info-details-wrapper {
    @apply flex-col gap-2;
}

.header-two {
    @apply text-xl sm:text-2xl font-medium;
}

.details-wrapper {
    @apply flex flex-col gap-6;
}
.circle-wrapper {
    @apply w-full flex items-center justify-center gap-2;
}
.circle {
    @apply size-[6px]  rounded-full;
}

.reg-bck-wrapper {
    @apply flex flex-row-reverse items-center justify-between w-full box-border;

}

#register-btn {
    @apply w-[49%];
    
    
    
}
#register-btn:disabled, #continue-btn:disabled, .login-btn:disabled {
    @apply bg-gray-400 text-gray-600 cursor-not-allowed;
    
}
.singIn-to-logIn-wrapper > span{
    @apply text-sm font-inter font-medium text-gray-500;
}

.singIn-to-logIn-wrapper > span > a {
    @apply text-secondary;
}

#agreement-checkbox {
    @apply accent-secondary;
}

#my_modal_8 > div > div > h1 {
    @apply text-2xl font-bold;
}
#my_modal_8 > div > div > h2 {
    @apply text-lg font-semibold ;
}

.modal {
    @apply w-full h-full flex items-center justify-center min-h-0 !important;
}
.modal-box  {
    @apply box-border w-[95%] h-[80%] md:w-3/4 font-inter overflow-y-auto   !important;
}

body > .gradient-filter {
    background: #252525;
    background: -webkit-linear-gradient(0deg, #252525 0%, rgba(214, 214, 214, 0.267) 100%);
    background: linear-gradient(0deg, #252525 0%, rgba(214, 214, 214, 0.267) 100%);
    @apply shadow-2xl;
}

.show-hide-password {
    @apply absolute top-1/2 translate-y-[-50%] right-2 btn-sm btn-ghost rounded-full;
}

.show-hide-password > svg:nth-child(1) {
    display: flex;
}

.show-hide-password > svg:nth-child(2) {
    display: none;
}

.show-hide-password.show-password > svg:nth-child(1){
    display: none;
}

.show-hide-password.show-password > svg:nth-child(2){
    display: flex;
}


.si-body {
    @apply flex items-center justify-center w-full h-svh bg-base-200;
}


.si-sign-in-container {
    @apply w-[95%] min-w-[310px] max-w-[400px] sm:max-w-[850px] md:max-w-[900px] md:w-[80%] h-[90%] max-h-[600px] min-h-[540px] bg-base-100 rounded-lg overflow-hidden shadow-lg sm:flex z-10;
    transform: translate3d(0, 100%, 0);
    visibility: hidden;
    animation-fill-mode: forwards;
    
} 

.c-carousel {
    @apply hidden sm:flex sm:w-[50%] h-full bg-accent
    
}

.si-login-input-container {
    @apply w-full sm:w-1/2 h-full;
}
.si-header-wrapper{
    @apply w-full h-[10%] font-inter ;
}

.label {
    @apply text-sm font-inter p-0 font-medium text-gray-600;
}
.si-input-label-wrapper {
    @apply flex flex-col p-0 gap-1;
}

.si-input {
    @apply w-full bg-gray-200 rounded text-[14px] font-inter;
}
.si-input:hover,  .si-input:focus{
    @apply outline-primary ease-in-out duration-150;
}
.login-btn {
    @apply w-full btn btn-primary;
}


.forgot-pass-wrapper {
    @apply w-full h-auto flex items-center justify-start font-inter text-sm underline text-secondary;
}

.dont-have-account-wrapper {
    @apply w-full h-auto flex items-center justify-center font-inter text-sm;
}

.dont-have-account-wrapper > span > a{
    @apply text-secondary underline;
}

#loading-screen {
    background: hsla(0, 0%, 11%, 0.5);
}

.forgot-password-container {
    @apply flex-col items-center justify-center gap-4 w-full h-full px-4 py-8 sm:px-6 box-border; 
}




input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type="number"] {
    -moz-appearance: textfield;
}

