@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .animate-fill-forwards {
      animation-fill-mode: forwards;
    }
    .animate-fill-backwards {
      animation-fill-mode: backwards;
    }
    .animate-fill-both {
      animation-fill-mode: both;
    }
    .animate-fill-none {
      animation-fill-mode: none;
    }
}
body {
    @apply w-full h-auto min-h-lvh;
}

#my-account.open-modal > div > div, #my-account-two.open-modal {
    @apply bg-accent;
}

#my-account.open-modal > div > div > svg, #my-account:hover > div > div > svg,  #my-account-two.open-modal > div > svg  {
    @apply stroke-white;
}

#my-account-two.open-modal {
    @apply text-white;
}


#sidebar div > ul > li > button.selected {
    @apply bg-primary text-white;
}


caption {
    @apply border-t-0 !important;
}

.export-excel-btn {
    @apply h-full w-[38%] max-w-[220px] flex items-center justify-center gap-2 rounded active:scale-95 duration-200 ease-in-out !important;
}