* {
    margin: 0;
    padding: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

header > div > a > span {
    background: linear-gradient(270deg, #0404cb 0%, #f4af1b 100%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 3s infinite alternate ease-in-out;
}


:root {
    overscroll-behavior: none;
    scroll-behavior: smooth;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#sidebar {
    display: none;
    opacity: 0;
    transform: translateX(-224px);
    transition: height 1s ease-in-out, transform .5s ease-in-out, opacity .3s ease-in-out;
}


#sidebar.expand {
    display: flex;
    opacity: 1;
    transform: translateX(0);
    transition: height 1s ease-in-out, transform .5s ease-in-out, opacity .3s ease-in-out ;
}

#burger-btn > :nth-child(1) {
    display: flex;
}
#burger-btn > :nth-child(2) {
    display: none;
}

#burger-btn.show-sidebar > :nth-child(1) {
    display: none;
}
#burger-btn.show-sidebar > :nth-child(2) {
    display: flex;
}

.main-student-dashboard {
    
    gap: 16px;
    grid-template-columns: 1fr .5fr .5fr 1fr;
    grid-template-rows: 1.5fr .5fr 5fr;
    grid-template-areas: 
    'totalLogin recentUsed recentUsed pendingRequest'
    'searchBar searchBar graph graph'
    'table-user table-user graph graph';
    width: 100%;
    height: 100%;
    max-height: 700px;
    min-height: 700px;
    box-sizing: border-box;
    overflow: hidden;
}


@media(max-width: 767px) {
    .main-student-dashboard {
        grid-template-columns: 1fr .5fr .5fr 1fr;
        grid-template-rows: 1.2fr 1.2fr .4fr 2.5fr 2.5fr;
        grid-template-areas: 
        'totalLogin totalLogin recentUsed recentUsed'
        'pendingRequest pendingRequest pendingRequest pendingRequest'
        'searchBar searchBar searchBar searchBar'
        'table-user table-user table-user table-user'
        'graph graph graph graph';
        max-height: 1000px;
        min-height: 1000px;
        height: 160%;
        gap: 6px;
    }
    ;
}


@media(max-width: 500px) {
    .alert {
        left: 8px;
    }
}

.totalLogin {
    grid-area: totalLogin;
    min-height: 140px;
   
}

.recentUsed {
    grid-area: recentUsed;
    min-height: 140px;
   
}


.pendingRequest {
    grid-area: pendingRequest;
    min-height: 140px;
   
}

.table-user {
    grid-area: table-user;
}

.graph {
    grid-area: graph;

}
.searchBar {
    grid-area: searchBar;
}



.error {
    display: none;
}

.black-low-opacity {
    background: rgba(27,27,27,0.6);
-webkit-backdrop-filter: blur(3px);
backdrop-filter: blur(3px);


}

.shadow-lg-custom {
    box-shadow: 
        0 10px 15px -3px rgba(0, 0, 0, 0.1), /* Bottom shadow */
        0 -10px 15px -3px rgba(0, 0, 0, 0.1); /* Top shadow */
       
}


/* @media (max-width: 319px), (max-height: 480px) {
    header, nav, main, footer {
        display: none !important;
    }
    
    .error {
        display: grid;
    }
} */





body > main > article, body > .main-request-correction > form, .main-contact-dev > form, .profile, .view-qr-code, .view-pending {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    
}
/* , body > .main-request-correction > form, .main-contact-dev > form, .profile, .view-qr-code, .view-pending */
/* .main-contact-dev > form{
    opacity: 0;
    
} */




body > main > article:nth-child(2) {
    animation-delay: .3s;
    
}
body > main > article:nth-child(3) {
    animation-delay: .6s;
    
}
body > main > article:nth-child(4) {
    animation-delay: .9s;
    
}
body > main > article:nth-child(5) {
    animation-delay: .9s;
    
}
body > main > article:nth-child(6) {
    animation-delay: .9s;
    
}


.logs-table tbody tr {
    height: 48px !important;
    max-height: 48px !important;
    min-height: 48px !important;
}

/* .tour-my-acc-menu {
    display: flex !important;
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 9999 !important;;
} */



.tour-show-me-around-anchor {
    background: rgb(255,2,106);
    background: -moz-linear-gradient(167deg, rgba(255,2,106,1) 0%, rgba(171,24,162,1) 50%, rgba(61,37,237,1) 100%);
    background: -webkit-linear-gradient(167deg, rgba(255,2,106,1) 0%, rgba(171,24,162,1) 50%, rgba(61,37,237,1) 100%);
    background: linear-gradient(167deg, rgba(255,2,106,1) 0%, rgba(171,24,162,1) 50%, rgba(61,37,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff026a",endColorstr="#3d25ed",GradientType=1);
    background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    font-weight: 600;
}
.tour-show-me-around-anchor > a > svg {
    color: rgb(255,2,106);
}